---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import ClientsSection from "@components/sections/landing/ClientSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import featureImage from "@images/features-image.avif";
import escolta from "@images/escolta.avif";
import guarda from "@images/Guarda01.png";
import movils from "@images/Toyota-LC.png";
import cargo from "@images/cargo.avif";
import Cordon from "@images/escudo.avif"
import imagen from "@images/automated-tools.avif"

---

<MainLayout>
  
  <HeroSection
    title=`Protege tus negocios con <span
        class="text-red-600 dark:text-red-600">Cordon de seguridad</span>`
    subTitle="Somos una empresa nueva en el mercado, enfocada en aplicar tecnologías innovadoras y en ofrecer un servicio de vigilancia y seguridad privada de calidad, humanizado y confiable para nuestros clientes."
    primaryBtn="Conoce más"
    primaryBtnURL="/products"
    secondaryBtn="Contacta el equipo de ventas"
    secondaryBtnURL="/contact"
    src={Cordon}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="Nuestros clientes"
    subTitle="Experimente la fiabilidad elegida por los gigantes del sector."
  />

  <FeaturesGeneral
    title="Con los mas altos estandares de la industria"
    subTitle="En Cordon de seguridad, afrontamos los retos únicos que se presentan en el sector de la seguridad. Desde sistemas de vigilancia de última generación hasta servicios de seguridad expertos, nos dedicamos a ayudarle a proteger activos, superar obstáculos y lograr tranquilidad."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />
 

  <FeaturesNavs
  title=`Personalice la oferta de <span class="text-red-600 dark:text-red-600">Cordon blue</span> para que se adapte a su empresa.`
  tabs={[
    {
      heading: "Vigilancia fija",
      content:
        "Personal altamente capacitado para supervisar y proteger instalaciones, oficinas, residencias o cualquier tipo de propiedad, garantizando tranquilidad y seguridad las 24 horas.",
      svg: "servicios",
      src: imagen,
      alt: "vigilancia de seguridad fija",
      first: true,
    },
    {
      heading: "Vigilancia movil",
      content:
        "Patrullas dinámicas para asegurar amplias áreas, supervisar movimientos y prevenir incidentes en zonas específicas o en tránsito.",
      svg: "servicios",
      src: imagen,
      alt: "Vigilancia de seguridad fija",
      second: true,
    },
    {
      heading: "Escolta a personas",
      content:
        "Acompañamiento especializado para personas, vehículos o mercancías, asegurando su integridad y protección en todo momento.",
      svg: "servicios",
      src: imagen,
      alt: "foto del servicio de escoltas",
    },

  ]}
/>
  


  <FAQ title="Preguntas<br/>Frecuentes" faqs={faqs} />

  
</MainLayout>
