---
// Import necessary components
import { Image } from "astro:assets";

import type { CollectionEntry } from "astro:content";

const { blogEntry } = Astro.props;

interface Props {
  blogEntry: CollectionEntry<"blog">;
}
---

<div class="flex-shrink-0">
    <Image
    src={blogEntry.data.cardImage} 
    alt={`Image of ${blogEntry.data.cardImageAlt}`} 
    class="w-16 h-16 rounded-full shadow-lg"
  
    draggable={"false"}
    format={"avif"}
  />
</div>
